<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <style>
      .hidden{
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
      }
      li {
        clear: both;

      }
      li button{
        -webkit-appeance:none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <form id="form">
      <input type="text" autofocus id="description" name="description" value="">
      <!-- Description is the name of the field we will get back -->
      <input type="submit" value="Create">
      <!-- Create the name of the button -->
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id='todos'>
      {% for d in data %}
      <li><input class="check-completed" data-id="{{ d.id }}"type="checkbox" {% if d.completed %} checked {% endif %}/
        >
        {{d.description}}
        <button type="button" name="button">&cross;</button>

      </li>
      {% endfor %}
    </ul>
    <!-- TODO: the deaful behaviuour would have led to a full page refresh -->

    <script type="text/javascript">
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i=0; i <checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e){
          console.log('event', e);
          const newCompleted = e.target.checked;
          const todo_id =e.target.dataset['id']
          fetch('/todos/' + todo_id + '/set-completed', {
            method: 'POST',
            // This body and header is sent to the server or route handler which will get the value
            // of the description
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
        })
        .then(function(){
          document.getElementById('error').className='hidden';
        })
        .catch(function(){
          document.getElementById('error').className="";
        })
      }
    }


      document.querySelector('form').onsubmit=function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          // This body and header is sent to the server or route handler which will get the value
          // of the description
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log(jsonResponse);
          li = document.createElement('li');
          li.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
          //JS is updating the content of the page and updating the database as well
          //That's why async
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    </script>
  </body>
</html>
