<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <style>
      .hidden{
        display: none;
      }
    </style>
  </head>
  <body>
    <form id="form">
      <input type="text" autofocus id="description" name="description" value="">
      <!-- Description is the name of the field we will get back -->
      <input type="submit" value="Create">
      <!-- Create the name of the button -->
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id='todos'>
      {% for d in data %}
      <li>{{d.description}}</li>
      {% endfor %}
    </ul>
    <!-- TODO: the deaful behaviuour would have led to a full page refresh -->

    <script type="text/javascript">
      document.querySelector('form').onsubmit=function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log(jsonResponse);
          li = document.createElement('li');
          li.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    </script>
  </body>
</html>
